@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-100;
  font-family: var(--font-poppins);
}

.light {
  --background-color: 245, 245, 245;
  --primary-color: ;
  --secondary-color: ;
  --border-color: ;
  --primary-text-color: 14, 31, 57;
  --secondary-text-color: 249 ,115, 22;
}

.dark {
  --background-color: 14, 31, 57;
  --primary-color: ;
  --secondary-color: ;
  --border-color: ;
  --primary-text-color: 255, 249, 243;
  --secondary-text-color: 249, 115, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: ;
    --primary-color: ;
    --secondary-color: ;
    --border-color: ;
    --primary-text-color: 255, 249, 243;
    --secondary-text-color: 255, 49, 173;
  }
}
