@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background-color: 255, 249, 243;
  --primary-color: ;
  --secondary-color: ;
  --border-color: ;
  --primary-text-color: ;
  --secondary-text-color: ;
}

.dark {
  --background-color: 42, 42, 42;
  --primary-color: ;
  --secondary-color: ;
  --border-color: ;
  --primary-text-color: ;
  --secondary-text-color: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: ;
    --primary-color: ;
    --secondary-color: ;
    --border-color: ;
    --primary-text-color: ;
    --secondary-text-color: ;
  }
}
