@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  @apply transition-colors duration-150;
}

.light {
  --background-color: 245, 245, 245;
  --primary-color: 14, 31, 57;
  --secondary-color: 255, 249, 243;
  --border-color: ;
  --primary-text-color: 14, 31, 57;
  --secondary-text-color: 249 ,115, 22;
  --dark-color: 14, 31, 57;
}

.dark {
  --background-color: 14, 31, 57;
  --primary-color: 245, 245, 245;
  --secondary-color: 14, 31, 57;
  --border-color: ;
  --primary-text-color: 255, 249, 243;
  --secondary-text-color: 249, 115, 22;
  --dark-color: 14, 31, 57;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: 14, 31, 57;
    --primary-color: 255, 249, 243;
    --secondary-color: 14, 31, 57;
    --border-color: ;
    --primary-text-color: 255, 249, 243;
    --secondary-text-color: 249, 115, 22;
  }
}

.curtain {
  user-select: none;

  .color-1,
  .color-2,
  .color-3 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;  
    transform-origin: top;  
    will-change: transform;
  }

  .color-1 {
    z-index: 999;
    background-color: #e4bf3f;
  }

  .color-2 {
    z-index: 998;
    background-color: #fedbc4;
  }

  .color-3 {
    z-index: 997;
    background-color: #001131;
  }

}

